.Gifs {
  display: flex;
  width: 100%;
}
.Gifs-link {
  display: block;
  border: 1px solid #eee;
  margin: 8px;
  color: #eee;
  text-decoration: none;
  width: 100%;
  border-radius: 6px;
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

.gif_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
